.head-ab{
    width: 100%;
    height: 10vh;
    background: linear-gradient(0.25turn,#0d0e10,#0f1515,#384243); 
    z-index: 1;
    position: relative;
}
.div-bar-ab{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.nav-bar-ab{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar-ab div{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}
.danaburger-head-logo-ab{
    width: 9em;
    margin-left: 2em;
    cursor: pointer;
    -webkit-user-drag: none;
}
.list-menu-ab{
    display: flex;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 16em;
    z-index: 999;
    /* background: linear-gradient(0.95turn,#0d0e1050,#0f151550,#38424350);  */
    background-color: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(20px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.16);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* transition: left 0.3s ease; */
}
.sidebar li{
    padding-top: 1em;
    padding-left: 2em;
}
.link1-item{
    list-style: none;
    font-size: 1.1em;
    padding-right: 2.3em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}
.link1-item:hover{
    color: #f6921f;
    text-shadow: 0px 0px 20px #f6921f;
}
.menu-icon{
    font-size: 2em;
    margin-top: 0.73em;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.menu-icon:hover{
    color: #f6921f;
}
.menu-icon1{
    font-size: 2em;
    margin-top: 0.73em;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    margin-left: 0.8em;
    cursor: pointer;
}
.menu-icon1:hover{
    color: #f6921f;
}
.OnlineZakaz-btn-ab-2{
    width: 9em;
    height: 2.4em;
    font-size: 1em;
    margin-top: 1em;
    margin-left: 1.8em;
    border-radius: 20px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    background-color: #f6921f;
    color: white;
    transition: 0.6s;
}
.OnlineZakaz-btn-ab-2:hover{
    background-color: #dc3b20;
    box-shadow: 0px 0px 20px #dc3b20;
}
.list-item-ab{
    list-style: none;
    /* font-size: 1.1em;
    padding-right: 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    cursor: pointer;
    transition: 0.4s; */
}  
.link-item-ab{
    list-style: none;
    font-size: 1.1em;
    padding-right: 2.3em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}
.link-item1-ab{
    list-style: none;
    font-size: 1.1em;
    padding-right: 2.3em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #f6921f;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}
.link-item-ab:hover{
    color: #f6921f;
}
.list-item-ab:hover{
    color: #f6921f;
    /* text-shadow: 0px 0px 12px #f6921f; */
}
  

  
  
.OnlineZakaz-btn-ab{
    width: 9em;
    height: 2.4em;
    font-size: 1em;
    margin-left: 9em;
    border-radius: 20px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    background-color: #f6921f;
    color: white;
    transition: 0.6s;
}
.OnlineZakaz-btn-ab:hover{
    background-color: #dc3b20;
    box-shadow: 0px 0px 20px #dc3b20;
}
.head-icon-ab{
    transition: 0.3s;
    color:"white";
    font-size:"1.2em";
    margin-left:"5em";
    cursor:"pointer";
    color: white;
    cursor: pointer;
}

.head-icon-ab:hover{
    color: #f6921f;
}





.about-prev-section-ab{
    width: 100%;
    height: 90vh;
    background-color: white;
    display: flex;
}
.about-prev-img-div-ab{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-prev-img-div-ab img{
    width: 25em;
    margin-left: 4em;
    -webkit-user-drag: none;
}
.about-prev-title-ab{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-prev-title-ab h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 3.4em;
    color: #f6921f;
    text-shadow: 0px 0px 10px #f6921f;
}
.about-prev-title-ab p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1em;
    padding-right: 10em;
    color: rgb(91, 91, 91);
}
.about-prev-title-ab button{
    font-size: 1.3em;
    margin-top: 1em;
    width: 11em;
    height: 3em;
    border-radius: 30px;
    border: none;
    background-color: #f6921f;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s;
}
.about-prev-title-ab button:hover{
    background-color: #dc3b20;
    box-shadow: 0px 0px 20px #dc3b20;
}



.foot-ab{
    width: 100%;
    height: 35vh;
    background: linear-gradient(0.25turn,#0d0e10,#0f1515,#384243); 
    display: flex;
}
.div-forfoot-ab{
    width: 33.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.div-forfoot-ab h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    padding-bottom: 0.3em;
    color: white;
}
.div-forfoot-ab h3{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    color: rgb(194, 194, 194);
}
.div-for-icons-ab{
    width: 80%;
    height: 5em;
    display: flex;
    justify-content: center;
    margin-left: 3em;
}
.location-icon-ab{
    font-size: 0.8em;
}
.call-icon-ab{
    font-size: 0.9em;
}
.ig-icon-ab{
    font-size: 0.8em;
}
.elaqe-txts-ab{
    cursor: pointer;
    padding-top: 0.3em;
}
.elaqe-txts-ab:hover{
    color: #f6921f;
}
.div-for-icons-ab div{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.bolt{
    background-image: url('unnamed.png');
    background-size: 100%;
}
.bolt:hover{
    background-image: url('Bolt_logo.png');
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: 50% 55%;
    background-color: white;
}
.wolt{
    background-image: url('wolt-logo.png');
    background-size: 100%;
}
.wolt:hover{
    background-image: url('wolt-logo-png_seeklogo-499957.png');
    background-color: white;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.insta-foot{
    background-image: url('instagram-logo_1199-122.avif');
    background-size: 100%;
}
.insta-foot:hover{
    background-image: url('1658586823instagram-logo-transparent.webp');
    background-size: 44%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: white;
}
#menu-button{
    display: none;
}

@media (max-width: 1025px) {
    #hideOnMobile{
        display: none;
    }
    #menu-button{
        display: block;
    }
    .about-prev-title-ab h1{
        font-size: 3em;
        margin-left: 1em;
    }
    .about-prev-title-ab p{
        font-size: 0.7em;
        margin-left: 6em;
    }
    .div-for-icons-ab{
        margin-top: 1em;
        margin-left: 2.5em;
    }
}
@media (max-width: 821px) {
    .about-prev-img-div-ab{
        height: 35%;
        width: 100%;
        img{
            width: 12em;
            margin: auto;
        }
    }
    .about-prev-title-ab{
        height: 50%;
        width: 100%;
        h1{
            padding-left: 0.4em;
        }
    }
    .about-prev-section-ab{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div-forfoot-ab{
        h3{
            font-size: 0.6em;
        }
        h1{
            font-size: 1.2em;
        }
        .div-for-icons-ab div{
           width: 2em;
           height: 2em;
           height: 38%;
        }
        .div-for-icons-ab{
            width: 100%;
            background-repeat: no-repeat;
            margin-left: 0.5em;
            margin-top: 1em;
        }
        
     }
}
@media (max-width: 391px) {
    .about-prev-img-div-ab{
        img{
            width: 10em;
            margin-top: 0em;
        }
    }
    .about-prev-title-ab{
        h1{
            font-size: 2em;
            margin-left: 1.6em;
        }
    }
    .div-for-icons-ab{
        width: 100%;
        height: 25%;
    }
}
