.head{
    width: 100%;
    height: 100vh;
    background-image: url('Adsız tasarım (11).png');
    background-size: 100% 100%;
    z-index: 1;
    position: relative;
}
.div-bar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.nav-bar{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar div{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}
.danaburger-head-logo{
    width: 9em;
    margin-left: 2em;
    cursor: pointer;
    -webkit-user-drag: none;
}
.list-menu{
    display: flex;
}
.list-item{
    list-style: none;
    /* font-size: 1.1em;
    padding-right: 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    cursor: pointer;
    transition: 0.4s; */
}  
.link-item{
    list-style: none;
    font-size: 1.1em;
    padding-right: 2.3em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}
.link-item1{
    list-style: none;
    font-size: 1.1em;
    padding-right: 2.3em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #f6921f;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}
.link-item:hover{
    color: #f6921f;
}
.list-item:hover{
    color: #f6921f;
    /* text-shadow: 0px 0px 12px #f6921f; */
}
  

  
  
.OnlineZakaz-btn{
    width: 9em;
    height: 2.4em;
    font-size: 1em;
    margin-left: 9em;
    border-radius: 20px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    background-color: #f6921f;
    color: white;
    transition: 0.6s;
}
.OnlineZakaz-btn:hover{
    background-color: #dc3b20;
    box-shadow: 0px 0px 20px #dc3b20;
}
.head-icon{
    transition: 0.3s;
    color:"white";
    font-size:"1.2em";
    margin-left:"5em";
    cursor:"pointer";
    color: white;
    cursor: pointer;
}

.head-icon:hover{
    color: #f6921f;
}

.container{
    width: 100%;
    height: 65%;
    margin-top: 4em;
}
.container-1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container-1 h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 3.5em;
    padding-top: 1.4em;
    padding-left: 2.8em;
    color: white;
    text-shadow: 0px 0px 35px white;
}
.container-1 p{
    font-size: 1em;
    padding-top: 0.6em;
    padding-left: 10em;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.container-1 button{
    font-size: 1.2em;
    width: 9em;
    height: 2.5em;
    border-radius: 20px;
    border: none;
    background-color: #f6921f;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    margin-top: 1.5em;
    margin-left: 8.3em;
    transition: 0.5s;
}
.container-1 button:hover{
    background-color: #dc3b20;
    box-shadow: 0px 0px 20px #dc3b20;
}


.menu-haqda{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
.menu-haqda-div{
    width: 85%;
    height: 80%;
    display: flex;
    gap: 3em;
}
.menu-iconlari{
    width: 3.3em;
    height: 3.3em;
    color: white;
}
.seher-yemeyi-div{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.seher-yemeyi-div div{
    width: 5.5em;
    height: 5.5em;
    background-color: #f6921f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seher-yemeyi-div h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4em;
    color: #f6921f;
    padding-top: 0.5em;
}
.seher-yemeyi-div p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    color: rgb(106, 106, 106);
    padding-top: 0.2em;
}
.burger-div{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.burger-div div{
    width: 5.5em;
    height: 5.5em;
    background-color: #f6921f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-div h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4em;
    color: #f6921f;
    padding-top: 0.5em;
}
.burger-div p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    color: rgb(106, 106, 106);
    padding-top: 0.2em;
}
.salatlar-div{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.salatlar-div div{
    width: 5.5em;
    height: 5.5em;
    background-color: #f6921f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.salatlar-div h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4em;
    color: #f6921f;
    padding-top: 0.5em;
}
.salatlar-div p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    color: rgb(106, 106, 106);
    padding-top: 0.2em;
}
.izqara-div{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.izqara-div div{
    width: 5.5em;
    height: 5.5em;
    background-color: #f6921f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.izqara-div h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4em;
    color: #f6921f;
    padding-top: 0.5em;
}
.izqara-div p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    color: rgb(106, 106, 106);
    padding-top: 0.2em;
}





.menu-preview-section{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(0.25turn,#0d0e10,#384243); */
    background-image: url('Adsız tasarım (19).png');
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-prev-title-div{
    width: 40%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-prev-title-div h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 3.4em;
    color: white;
    padding-top: 1em;
    text-shadow: 0px 0px 28px white;
}
.menu-prev-title-div p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    color: white;
    padding-top: 0.5em;
}
.menu-prev-div{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.helper-div img{
    width: 16.666%;
    height: 90%;
    margin-top: 1.55em;
    cursor: pointer;
    -webkit-user-drag: none;

}
.helper-div div{
    width: 16.666%;
    height: 90%;
    margin-top: 1.55em;
    background-color: rgba(255, 255, 255, 0.082);
}
.helper-div div h1{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 1em;
    padding-left: 1em;
}
.helper-div div p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 1.5em;
}
.helper-div{
    width: 100%;
    height: 40%;
    display: flex;
    margin-top: 2em;
}
.helper-div div nav{
    width: 100%;
    height: 30%;
}
.helper-div div nav{
    display: flex;
}
.helper-div div nav button{
    width: 5em;
    height: 2em;
    margin-top: 1.1em;
    margin-left: 1em;
    border: 2px solid #f6921f;
    background-color: transparent;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.helper-div div nav button:hover{
    background-color: #f6921f;
    box-shadow: 0px 0px 10px #f6921f;
}
.helper-div div nav p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1em;
}
.helper-div2{
    width: 100%;
    height: 40%;
    display: flex;
}
.helper-div2 img{
    width: 16.666%;
    height: 90%;
    cursor: pointer;
    -webkit-user-drag: none;

}
.helper-div2 div{
    width: 16.666%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.082);
}
.helper-div2 div h1{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 1em;
    padding-left: 1em;
}
.helper-div2 div p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 1.5em;
}
.helper-div2 div nav{
    width: 100%;
    height: 30%;
    display: flex;
}
.helper-div2 div nav button{
    width: 5em;
    height: 2em;
    margin-top: 1.1em;
    margin-left: 1em;
    border: 2px solid #f6921f;
    background-color: transparent;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.helper-div2 div nav button:hover{
    background-color: #f6921f;
    box-shadow: 0px 0px 10px #f6921f;
}
.helper-div2 div nav p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1em;
}
.nav-helper{
    margin-top: 1.5em;
}


.about-prev-section{
    width: 100%;
    height: 90vh;
    background-color: white;
    display: flex;
}
.about-prev-img-div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-prev-img-div img{
    width: 25em;
    margin-left: 4em;
    -webkit-user-drag: none;
}
.about-prev-title{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-prev-title h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 3.4em;
    color: #f6921f;
    text-shadow: 0px 0px 10px #f6921f;
}
.about-prev-title p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1em;
    padding-right: 10em;
    color: rgb(91, 91, 91);
}
.about-prev-title button{
    font-size: 1.3em;
    margin-top: 1em;
    width: 11em;
    height: 3em;
    border-radius: 30px;
    border: none;
    background-color: #f6921f;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s;
}
.about-prev-title button:hover{
    background-color: #dc3b20;
    box-shadow: 0px 0px 20px #dc3b20;
}
.more-ab-btn{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
}


.blog-section{
    width: 100%;
    height: 80vh;
    background: linear-gradient(0.25turn,#0d0e10,#0f1515,#384243); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-title{
    color: white;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 3.4em;
    padding-top: 0.5em;
    text-shadow: 0px 0px 25px white
}
.blog-p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    padding-top: 1em;
}
.blog-div{
    width: 100%;
    height: 70%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 2.5em;
    flex-wrap: wrap;
}
.blog-div button{
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 9em;
    height: 3em;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #f6921f;
    transition: 0.5s;
    color: #ffffff;
}
.blog-div button:hover{
    background-color: #f6921f;
    color: white;
}
.blog-divs{
    width: 22%;
    height: 70%;
    margin-top: 1.5em;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid white;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}
.blog-divs:hover{
    box-shadow: -10px 10px 0px white;
    transform: scale(1.02);
}
.blog-divs img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: #f6921f;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta-icon-for-overlay{
    font-size: 4em;
    color: white;
}
.overlay:hover{
    opacity: 0.8;
}



.booking-section {
  /* padding: 2em; */
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 25em;
  /* background-color: red; */
  height: 32em;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 10em;
}

.booking-form {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 32em; 
  box-sizing: border-box;
}

.booking-form input,
.booking-form select,
.booking-form button {
  padding: 0.75em;
  font-size: 1em;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0.5em;
  transition: 0.2s;
}
.booking-form input,
.booking-form select{
    border: 1px solid #f6921f;
}
.booking-form input:focus,
.booking-form select:focus{
    border: 1px solid #dc3b20;
    outline: 1px solid #dc3b20;
    box-shadow: 0px 0px 10px #dc3b20;
}
.booking-form button {
  background-color: #f6921f;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 20px;
  border: none;
  width: 10em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.booking-form button:hover {
  background-color: #dc3b20;
  box-shadow: 0px 0px 20px #dc3b20;
}

.map-container {
  /* flex: 1 1 45%; */
  height: 32em; /* Xəritənin də eyni boyda olması üçün */
  border-radius: 1em;
  margin-top: 5em;
  width: 50%;
  margin-left: 3em;
  overflow: hidden;
  height: 27em;
  border: 3px solid #f6921f;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.date-input{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.input-email{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.tel-ad-input{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.form-title{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 3.4em;
    position: absolute;
    top: 61.5em;
    color: #f6921f;
    text-shadow: 0px 0px 10px #f6921f;
}



.foot{
    width: 100%;
    height: 35vh;
    background: linear-gradient(0.25turn,#0d0e10,#0f1515,#384243); 
    display: flex;
}
.div-forfoot{
    width: 33.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.div-forfoot h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    padding-bottom: 0.3em;
    color: white;
}
.div-forfoot h3{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    color: rgb(194, 194, 194);
}
.div-for-icons{
    width: 80%;
    height: 5em;
    display: flex;
    justify-content: center;
    margin-left: 3em;
}
.location-icon{
    font-size: 0.8em;
}
.call-icon{
    font-size: 0.9em;
}
.ig-icon{
    font-size: 0.8em;
}
.elaqe-txts{
    cursor: pointer;
    padding-top: 0.3em;
}
.elaqe-txts:hover{
    color: #f6921f;
}
.div-for-icons div{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.bolt{
    background-image: url('unnamed.png');
    background-size: 100%;
}
.bolt:hover{
    background-image: url('Bolt_logo.png');
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: 50% 55%;
    background-color: white;
}
.wolt{
    background-image: url('wolt-logo.png');
    background-size: 100%;
}
.wolt:hover{
    background-image: url('wolt-logo-png_seeklogo-499957.png');
    background-color: white;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.insta-foot{
    background-image: url('instagram-logo_1199-122.avif');
    background-size: 100%;
}
.insta-foot:hover{
    background-image: url('1658586823instagram-logo-transparent.webp');
    background-size: 44%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: white;
}